In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
import random
import numpy as np

/home/milad/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
data = pd.read_csv("shuttle.data")
print("Number of samples: %d" % len(data))
data.head()

Number of samples: 43499

   50 21 77 0 28 0 27 48 22 2
0   55 0 92 0 0 26 36 92 56 4
1   53 0 82 0 52 -5 29 30 2 1
2   37 0 76 0 28 18 40 48 8 1
3  37 0 79 0 34 -26 43 46 2 1
4    85 0 88 -4 6 1 3 83 80 5